html,
body {
    padding: 0;
    margin: 0;
}

* {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#root {
    position: relative;
}

#root>header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FFFBFB;
    padding: 0;
}

#root>header main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

#root>header main img {
    cursor: pointer;
}

#root>header main nav {
    margin-left: 30px;
}

#root>header main nav a {
    text-decoration: none;
    color: black;
    margin-left: 1.5vw;
    /* margin-left: 20px; */
    font-size: 1rem;
}

#root>div :where(main, section) {
    background-color: white;
    width: 100%;
    height: calc(100vh - 60px);
}

#inicio {
    height: 100vh !important;
}

section .content {
    padding-top: calc(100px + 15vh);
}

#root>div :where(main, section):nth-child(even) {
    background-color: #1770FC;
}


#root>div :where(main>div, section>div) {
    max-width: 1000px;
    width: 100%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}



#inicio .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio img#pau {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid #000;
    object-fit: cover;
}

#inicio h1 {
    font-size: 36px;

}

#inicio span {
    font-size: 48px;
}



#inicio .contact {
    display: flex;
    align-items: center;
}

#inicio .contact>*:not(.github) {
    margin-right: 17px;
}

#inicio .contact .email {
    display: flex;
    align-items: center;

}

#inicio .contact .email img {
    margin-right: 10px;
}

#inicio .contact .email span {
    font-size: 20px;
}

#inicio .contact a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #333333;

    transition: transform 300ms;
}

#inicio .contact a:hover {
    transform: scale(1.25);
}

#inicio .cv {
    width: 260px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #333;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    transition: transform 300ms;
}

#inicio .cv:hover {
    transform: scale(1.1);
}

#sobreMi * {
    color: white;
}

#sobreMi h1 {
    font-size: 48px;
}

#sobreMi p {
    font-size: 24px;
}

#proyectos .content>h1 {
    font-size: 48px;
    margin: 0;
}

#proyectos #proyectosImg {
    display: flex;
    flex-wrap: wrap;
}

#proyectos #proyectosImg article {
    position: relative;

    flex: 1;
    min-width: 400px;
    max-width: 500px;
    margin-top: 45px;
}

#proyectos #proyectosImg article:nth-child(odd) {
    margin-right: 45px;
}

#proyectos #proyectosImg article img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: filter 0.3s;
}

#proyectos #proyectosImg article:hover img {
    filter: blur(1px);
}

#proyectos #proyectosImg article .description {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1.3s,opacity .5s;
    padding: 15px;
    border-radius: 10px;
    
}

#proyectos #proyectosImg article:hover .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.6);
    opacity: 1;

    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

#proyectos #proyectosImg article .description header {
    display: flex;
    justify-content: space-between;
}

#proyectos #proyectosImg article .description header nav {
    display: flex;
}

#proyectos #proyectosImg article .description header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #333333;
    transition: transform 300ms;
    margin-left: 15px;
}

#proyectos #proyectosImg article .description header nav a:hover {
    transform: scale(1.25);
}

#proyectos #proyectosImg article .description h1 {
    font-size: 36px;
    color: white;
    margin: 0;
}

#proyectos #proyectosImg article .description p {
    font-size: 16px;
    color: white;
}

#proyectos #proyectosImg article .description .tags {
    display: flex;
    flex-wrap: wrap;
}


#proyectos .tag {
    padding: 5px;
    border-radius: 5px;
    background-color: #97F8D5;
    margin-right: 10px;
    margin-top: 5px;
}

#proyectos .tag.html {
    background-color: #F06529;
}

#proyectos .tag.css {
    background-color: #2965F1;
}

#proyectos .tag.js {
    background-color: #F0DB4F;
}

#proyectos .tag.php {
    background-color: #8993BE;
}

#proyectos .tag.node {
    background-color: #68A063;
}

#proyectos .tag.mysql {
    background-color: #00758F;
}



/* Pruebas */


